.facebook-button {
	background: #3b5998;
	color: #fff;
}
.btc-btn {
	background: #f2a900;
	color: #fff;
}
.jailbreak-btn {
	background: #654321;
	color: #fff;
}
.paypal-btn {
	background: #3b7bbf;
	color: #fff;
}